.beep-form {
  width: 60%;
  margin: auto;
}

@media (max-width: 700px) {
  .beep-form {
    width: 90%;
  }
}

.beeps-results {
  height: 25rem;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: scroll;
}
