<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bipper - A twitter clone for Botmind 🤖</title>
  </head>
  <body>
    <div class="container">
      <header class="block">
        <h1 class="title">Bipper - A twitter clone for Botmind 🤖</h1>
      </header>
      <main class="block">
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
</html>
